.doughnutChartContainer-{
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    
    box-shadow: -2px 16px 15px rgb(73, 72, 72); 
    position: relative;
    left:3%;
    width:50%;
    height:100%;
    box-shadow: -2px 16px 15px rgb(0, 2, 71); 
    background-color: rgba(255,255,255,0.8);
}
div[class*='hideBarDougnutContainer']{
    display: none;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    
    box-shadow: -2px 16px 15px rgb(73, 72, 72); 
    position: relative;
    left:3%;
    width:50%;
    height:100%;

}