.confirmationDialog{
    height: 35vh;
    width: 35vw;
    background-color: white;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: stretch;
    align-content: stretch;
    &__headingContainer{
        text-decoration: underline;
    }
    &__contentContainer{
        padding: 1rem;
        text-align: center;
        flex-grow: 1;
        position: relative;
        display: flex;
        align-items: center;
    }
    &__buttonContainer{
        width:inherit;
        flex-grow: 2;
        display: flex;
        position: relative;
        //flex-direction: row;
        justify-content: space-around;
       
        padding-top:1rem;
        align-items: center;
    }
}